@model Exhibition
@{
    ViewData["Title"] = "Details";
}

<div class="col-sm-12 page-header">
    <img src="~/img/@Model.image" width="100%" alt="">
</div>

<div class="container">
    <h2>@Model.name</h2>
    <p>@Model.description</p>
</div>

